@model List<ResultCategoryDTO>


<div class="sidebar-box ftco-animate">
    <div class="categories">

        <h3>Categories</h3>
        @foreach (var item in Model)
        {
            <li>
                <a href="#">@item.name <span>(12)</span></a>
            </li>
        }

    </div>
</div>