@model UpdateBlogDTO

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid p-2">
            <div class="card h-100">
                <div class="card-header p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 text-dark">Blog Güncelleme Ekranı</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                            <div class="table_section padding_infor_info">
                                <div class="table-responsive-sm m-2">
                                    <!-- table section -->
                                    <form method="post" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="BlogID" />
                                        <div class="form-group p-1">
                                            <label>Başlık</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Title" placeholder="Blog başlığını girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Yazar</label>
                                            @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.Authors, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Kategori</label>
                                            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Blog Resmi</label>
                                            <input type="text" class="form-control form-control-s" asp-for="CoverImageUrl" placeholder="Blog resmini girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Blog Açıklama</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Description" placeholder="Blog açıklaması girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <button type="submit" class="btn btn-primary">Blog Güncelle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
