

<aside class="main-sidebar sidebar-light-primary elevation-4">
  
    <a href="/Admin/Dashboard/Index" class="brand-link">
      <img src="~/AdminLTE-3.2.0/dist/img/ico.png"  alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">CarBook Panel</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
       

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                 <li class="nav-item">
                    <a href="/Default/Index" class="nav-link">
                        <i class="nav-icon fa fa-home text-success "></i> &ensp;
                        <p>
                           Siteye Git
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="nav-icon fa fa-columns "></i> &ensp;
                        <p> 
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Car/Index" class="nav-link">
                        <i class="nav-icon fa fa-car" aria-hidden="true"></i> &ensp;
                        <p>
                            Araçlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" class="nav-link">
                        <i class=" nav-icon  fa fa-plus" aria-hidden="true"></i> &ensp;
                        <p>
                            Araç Özellikleri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Brand/Index" class="nav-link">
                        <i class=" nav-icon  fa fa-podcast  " aria-hidden="true"></i> &ensp;
                        <p>
                            Araç Markaları
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Pricing/Index" class="nav-link">
                        <i class=" nav-icon  fa fa-credit-card  " aria-hidden="true"></i> &ensp;
                        <p>
                            Kiralama Türleri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Service/Index" class="nav-link">
                        <i class=" nav-icon fa fa-bath" aria-hidden="true"></i> &ensp;
                        <p>
                          Hizmetler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Blog/Index" class="nav-link">
                        <i class=" nav-icon fa fa-blog" aria-hidden="true"></i> &ensp;
                        <p>
                            Bloglar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i> &ensp;
                        <p>
                            Sayfa Ayarları
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Banner/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Banner</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/About/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Hakkında</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Contacts/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Gelen Mesajlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/FooterAddress/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Alt Adres</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Location/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Lokasyonlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/SocialMedia/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Sosyal Medya</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Testimonial/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Referanslar</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i> &ensp;
                        <p>
                            Blog Ayarları
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Category/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Blog Kategorileri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Author/Index" class="nav-link">
                                <i class="fas fa-angle-right nav-icon"></i>
                                <p>Blog Yazarları</p>
                            </a>
                        </li>
                    
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/AdminFeature/Index" class="nav-link">
                        <i class="nav-icon fa fa-credit-card " aria-hidden="true"></i>  &ensp;
                        <p>
                            Ödeme Türleri
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Login/Logout" class="nav-link">
                        <i class="fi fi-sr-leave text-danger"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>