

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    /* Add this CSS to your stylesheet */
    .align-items-center {
        display: flex;
        align-items: center;
    }

</style>
<div class="content-wrapper">
    <div class="content mt-0 p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Araçlar</div>
                        </div>
                        <div class="card-body">

                            <div class="card-body p-0">
                                <div class="mailbox-controls">
                                    <div class="card-sub">
                                        Araçları bu sayfada görüntüleyebilir veya güncelleyebilirsiniz.
                                    </div>
                                    <br />
                                    <div>
                                        <a href="/Admin/Car/Create/" class="btn btn-primary">Yeni Ürün Oluştur</a>
                                    </div>
                                </div>

                                <table id="carsTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">#</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Araç Resmi</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Marka</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Model</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Vites</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Km</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder ">Yakıt</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Sil</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Güncelle</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Detay</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Özellik Ata</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Sitede Gör</th>
                                            <th class="text-uppercase text-primary text-sm font-weight-bolder text-center">Fiyat Bilgileri</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @await Component.InvokeAsync("_AdminDatatableScriptPartial")

                <script>
                    $(document).ready(function () {
                        $('#carsTable').DataTable({
                            ajax: {
                                url: '/Admin/Car/GetCars',
                                type: 'GET',
                                dataSrc: function (json) {
                                    // Gelen veriyi konsola yazdır
                                    console.log(json);
                                    return json; // Veriyi tabloya ekle
                                }
                            },
                            columns: [
                                {
                                    data: null,
                                    className: 'text-center',
                                    width:'50px',
                                    render: function (data, type, row, meta) {
                                        return meta.row + 1; // Satır numarasını döndür (1 tabanlı)
                                    }
                                },
                                {
                                    data: 'coverImageUrl',
                                    className: 'text-center',
                                    width:'200px',
                                    render: function (data, type, row, meta) {
                                        return '<img src="' + data + '" alt="Car Image" style="width:150px;heigh:120px;border-radius:10px;">';
                                    }
                                },
                                { data: 'brandName' },        // Marka Adı
                                { data: 'model' },            // Model
                                { data: 'transmission' },         // Yakıt
                                { data: 'km' },  
                                { data: 'fuel' },  
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                        return '<a href="/Admin/Car/Delete/' + row.carID + '" class="btn btn-outline-danger btn-sm">Sil</a>';
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                        return '<a href="/Admin/Car/Update/' + row.carID + '" class="btn btn-outline-info btn-sm">Güncelle</a>';
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                        return '<a href="/Admin/Feature/Detail/' + row.carID + '" class="btn btn-outline-secondary btn-sm">Detay</a>';
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                            return '<a href="/Admin/Feature/CreateFeatureByCarID/" class="btn btn-outline-warning btn-sm">Özellik Ata</a>';
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                        return '<a href="/Car/Detail/' + row.carID + '" class="btn btn-outline-success btn-sm">Sitede Gör</a>';
                                    }
                                },
                                {
                                    data: null,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                            return '<a href="/Admin/Feature/Detail/' + row.carID + '" class="btn btn-outline-dark btn-sm">Fiyat Bilgileri</a>';
                                     }
                                }
                            ],
                            paging: true,
                            lengthChange: true,
                            searching: true,
                            ordering: true,
                            info: true,
                            autoWidth: true,
                            responsive: true,
                            dom: 'Bfrtip',
                            language: dataTableLanguageSettings,
                            buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"]
                        });
                    });
                </script>
}
