
@model UpdateCarDTO

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid p-2">
            <div class="card h-100">
                <div class="card-header p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 text-dark">Araç Güncelleme Ekranı</h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white_shd full margin_bottom_30">
                            <div class="table_section padding_infor_info">
                                <div class="table-responsive-sm m-2">
                                    <!-- table section -->
                                    <form method="post" enctype="multipart/form-data">
                                        <input  type="hidden" asp-for="CarID"/>
                                        <div class="form-group p-1">
                                            <label for="Brand">Marka</label>
                                            @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Model</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Model" placeholder="Aracın model bilgisini girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>KM</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Km" placeholder="Aracın Km bilgisini girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Vites Tipi</label>
                                            <select class="form-control" asp-for="Transmission">
                                                <option value="Manuel">Manuel</option>
                                                <option value="Otomatik">Otomatik</option>
                                            </select>
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Koltuk Sayısı</label>
                                            <input type="text" class="form-control form-control-s" asp-for="Seats" placeholder="Aracın koltuk sayısını girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Yakıt Tipi</label>
                                            <select class="form-control" asp-for="Fuel">
                                                <option value="Benzin">Benzin</option>
                                                <option value="Dizel">Dizel</option>
                                                <option value="Elektrik">Elektrik</option>
                                                <option value="Hybrid">Hybrid</option>
                                            </select>
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Bagaj</label>
                                            <select class="form-control" asp-for="Luggage">
                                                <option value="0">Bagaj yok</option>
                                                <option value="1">Bagaj var</option>
                                            </select>
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Büyük Araç Resmi</label>
                                            <input type="text" class="form-control form-control-s" asp-for="BigImageUrl" placeholder="Aracın büyük resmini girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <label>Cover Resmi</label>
                                            <input type="text" class="form-control form-control-s" asp-for="CoverImageUrl" placeholder="Aracın cover resmini girin">
                                        </div>
                                        <div class="form-group p-1">
                                            <button type="submit" class="btn btn-primary">Araç Güncelle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
