@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content mt-0 p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sosyal Medya Alanı</div>
                        </div>
                        <div class="card-body">
                            <div class="card-body p-0">
                                <div class="mailbox-controls">
                                    <div class="card-sub">
                                        Sosyal medyaları bu sayfada görüntüleyebilir veya güncelleyebilirsiniz.
                                    </div>
                                    <br />
                                    <div>
                                        <button id="createSocialMediaBtn" class="btn btn-primary">Yeni Sosyal Medya Oluştur</button>
                                    </div>
                                </div>
                                <table id="table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Açıklama</th>
                                            <th>Icon Url</th>
                                            <th class="text-center">Sil</th>
                                            <th class="text-center">Güncelle</th>
                                            <th class="text-center">Sosyal Medyaya Git</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-top"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Sosyal Medya Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateForm" method="post" action="/Admin/SocialMedia/Update">
                    <input type="hidden" id="SocialMediaID" name="SocialMediaID" value="" />
                    <div class="form-group">
                        <label for="Name">Sosyal Medya</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="Url">Açıklama</label>
                        <input type="text" class="form-control" id="Url" name="Url" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="Icon">İkon</label>
                        <input type="text" class="form-control" id="Icon" name="Icon" value="" required />
                    </div>
                    <button type="submit" class="btn bg-gradient-primary">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Sosyal Medya Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createForm" method="post" action="/Admin/SocialMedia/Create">
                    <div class="form-group">
                        <label for="Name">Sosyal Medya</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="Url">Açıklama</label>
                        <input type="text" class="form-control" id="Url" name="Url" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="Icon">İkon</label>
                        <input type="text" class="form-control" id="Icon" name="Icon" value="" required />
                    </div>
                    <button type="submit" class="btn bg-gradient-primary">Sosyal Medya Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @await Component.InvokeAsync("_AdminDatatableScriptPartial")

    <script>
        $(document).ready(function () {

            $('#table').DataTable({
                ajax: {
                    url: '/Admin/SocialMedia/GetSocialMedias',
                    type: 'GET',
                    dataSrc: function (json) {
                        // Gelen veriyi konsola yazdır
                        console.log(json);
                        return json; // Veriyi tabloya ekle
                    }
                },
                columns: [
                    {
                        data: null,
                        className: 'text-center',
                        width: '100px',
                        render: function (data, type, row, meta) {
                            return meta.row + 1; // Satır numarasını döndür (1 tabanlı)
                        }
                    },
                    { data: 'name' },
                    { data: 'url' },
                    { data: 'icon' },
                    {
                        data: null,
                        className: 'text-center',
                        width: '150px',
                        render: function (data, type, row, meta) {
                            return '<a href="/Admin/SocialMedia/Delete/' + row.socialMediaID + '" class="btn btn-danger">Sil</a>';
                        }
                    },
                    {
                        data: null,
                        className: 'text-center',
                        width: '150px',
                        render: function (data, type, row, meta) {
                            return '<a href="/Admin/SocialMedia/Update/' + row.socialMediaID + '" data-id="' + row.socialMediaID + '" id="updateBtn" class="btn btn-info">Güncelle</a>';
                        }
                    },
                    {
                        data: null,
                        className: 'text-center',
                        width: '300px',
                        render: function (data, type, row, meta) {
                            return '<a target="_blank" href="//' + row.url + '" data-id="' + row.socialMediaID + '" class="btn btn-secondary">Sosyal Medyaya Git</a>';
                        }
                    }
                ],
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: true,
                responsive: true,
                dom: 'Bfrtip',
                language: dataTableLanguageSettings,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });
        });

        $('#table').on('click', '#updateBtn', function (e) {
            e.preventDefault();

            var SocialMediaID = $(this).data('id');
            console.log(SocialMediaID)
            $.ajax({
                url: '/Admin/SocialMedia/GetSocialMedia/' + SocialMediaID,
                type: 'GET',
                success: function (data) {
                    // Gelen JSON verisini inputlara yerleştir
                    $('#SocialMediaID').val(data.socialMediaID);
                    $('#Name').val(data.name);
                    $('#Url').val(data.url);
                    $('#Icon').val(data.icon);

                    // Modalı aç
                    $('#updateModal').modal('show');
                },
                error: function () {
                    alert('Veri getirilirken bir hata oluştu.');
                }
            });
        });

        // Güncelleme formunu submit ettiğinde AJAX ile güncellemeyi yap
        $('#updateForm').on('submit', function (e) {
            e.preventDefault();

            // Form verilerini al
            var formData = $(this).serialize();

            // AJAX ile güncelleme isteği gönder
            $.ajax({
                url: '/Admin/SocialMedia/Update',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Modalı kapat
                    $('#updateModal').modal('hide');

                    // Tabloyu güncelle
                    $('#table').DataTable().ajax.reload();
                },
                error: function () {
                    alert('Güncelleme sırasında bir hata oluştu.');
                }
            });
        });

        $('#createSocialMediaBtn').on('click', function (e) {
            e.preventDefault();

            // Modalı direkt aç
            $('#createModal').modal('show');
        });

        $('#createForm').on('submit', function (e) {
            e.preventDefault();

            // Form verilerini al
            var formData = $(this).serialize();
            console.log(formData);

            // AJAX ile ekleme isteği gönder
            $.ajax({
                url: '/Admin/SocialMedia/Create',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Modalı kapat
                    $('#createModal').modal('hide');

                    // Tabloyu güncelle
                    $('#table').DataTable().ajax.reload();
                },
                error: function () {
                    alert('Ekleme sırasında bir hata oluştu.');
                }
            });
        });


    </script>
}
