
@using UdemyCarBook.DTO.ReservationDTOs
@{
    ViewData["Title"] = "Araç Rezervasyon Ekranı";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@model CreateReservationDTO

<style>
    .pickUpLocation {
        width: 100%;
        height:40px;
        border: 1px thin darkgray;
    }
</style>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex justify-content-center mb-5 contact-info">
            <div class="col-md-12 block-9 mb-md-5">
                <form class="bg-light p-5 contact-form" method="post" >
                    <div class="form-group hidden" >
                        <input type="hidden" class="form-control" asp-for="CarID" value="@ViewBag.Id" placeholder="Adınız ve Soyadınız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Adınız ve Soyadınız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Telefon Numaranız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Mail" placeholder="Mail Adresiniz">
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.PickUpLocationID, (List<SelectListItem>)ViewBag.Location, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.DropofLocationID, (List<SelectListItem>)ViewBag.Location, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Age" placeholder="Yaşınız ?">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="DriverLicenceYear" placeholder="Ehliyet yılınız ?">
                    </div>

                    <div class="form-group">
                        <textarea cols="30" rows="7" class="form-control" asp-for="Description" placeholder="Varsa eklemek istedikleriniz"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Rezervasyonu Tamamla" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
