@model ResultAllBlogsWithAuthorDTO

@{
    ViewData["Title"] = "Blog Detayı";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_BlogDetailParagraphComponentPartial", new { id = ViewBag.Id })
            
            <div class="col-md-4 sidebar ftco-animate">

                @await Component.InvokeAsync("_BlogDetailSidebarSearchBoxComponentPartial")
               
                @await Component.InvokeAsync("_BlogDetailsCategoryViewComponentPartial")

                @await Component.InvokeAsync("_BlogDetailRecentBlogsComponentPartial")

                @await Component.InvokeAsync("_BlogDetailTagComponentPartial", new {id = ViewBag.Id})
            </div>

        </div>
    </div>
</section> <!-- .section -->